{% extends 'base.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Artiste</h1>
        <hr>


        {{ include('artiste/_form.html.twig') }}

        <a href="{{ path('artiste_index') }}">back to list</a>
    </div>
{% endblock %}
